:root {
  --bg-color: #F8FAFC;
  --surface-color: #FFFFFF;
  --surface-reverseColor: #111827;

  --primary-color: #01C5FA;
  --primary-hover: #00AED6;

  --text-primary: #0F172A;
  --text-secondary: #475569;
  --text-reversePrimary: #E5E7EB;
  --text-reverseSecondary: #94A3B8;

  --border-color: #E2E8F0;

  --textSize-small: 1.2rem,
  --textSize-medium: 1.6rem,
  --textSize-huge: 2.4rem,
}

[data-theme='dark'] {
  --bg-color: #0B1220;
  --surface-color: #111827;
  --surface-reverseColor: #F8FAFC;

  --primary-color: #01C5FA;
  --primary-hover: #3281DB;

  --text-primary: #E5E7EB;
  --text-secondary: #94A3B8;
  --text-reversePrimary: #0F172A;
  --text-reverseSecondary: #475569;

  --border-color: #1F2933;

  --textSize-small: 1.2rem,
  --textSize-medium: 1.6rem,
  --textSize-huge: 2.4rem,
}
